p{
    margin-top: 70px;
    margin-left: 50px;
}

#imagem{
    position: absolute;
    left: 680px;
    top: 80px;
}
#imagem2{
    position: absolute;
    left: 30px;
    top: 80px;
}
#imagem3{
    position: relative;
    left: 60px;
    top: 10px;
}